alias rm='rm -i'
#alias cp='cp -i'
#alias mv='mv -i'
alias mkdir='mkdir -p'

alias du='du -h'
alias df='df -hT'

alias b='cd - > /dev/null'
alias ..='cd ..'
alias sau='du -h --max-depth=1 . | sort -h'

alias path='echo -e ${PATH//:/\\n}'
alias libpath='echo -e ${LD_LIBRARY_PATH//:/\\n}'

alias :q='read -s -n1 -p "Do you realy want to quit the shell? [y]|n "; case "$REPLY" in y|Y|j|J"") exit ;; *) echo; unset REPLY; esac'
alias :q!='exit;exit'

#AcceptEnv TMUX must be set in remote sshd_conf
alias ssh='ssh -o SendEnv=TMUX'

alias unsafe-ssh='ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o PasswordAuthentication=no'
alias unsafe-cssh='cssh -o "-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o PasswordAuthentication=no"'
alias unsafe-scp='scp -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o PasswordAuthentication=no'
