function ncput	{ 
	if [ $# -lt 2 ]; then
		echo "usage: ncput files ip"
		return 0
	fi
	tar -cv $1 | nc $2 1337; 
}

function ncget	{ 
	if [ $# -lt 1 ]; then
		echo "usage: ncget destination"
		return 0
	fi
	nc -l -p 1337 | tar -C $@ -xv; 
}

function swap()
{
    local TMPFILE=tmp.$$
    while [ -e "$TMPFILE" ]; do
        TMPFILE="$TMPFILE-$RANDOM"
    done

    [ $# -ne 2 ] && echo "swap: 2 arguments needed" && return 1
    [ ! -e $1 ] && echo "swap: $1 does not exist" && return 1
    [ ! -e $2 ] && echo "swap: $2 does not exist" && return 1

    mv "$1" $TMPFILE
    mv "$2" "$1"
    mv $TMPFILE "$2"
}

function my_ps() { ps $@ f -u $USER -o pid,%cpu,%mem,bsdtime,command ; }

function rainbow()
{
    if [ "0" -eq "$#" ]; then
        args="█████████"
    else
        args="$@"
    fi
    bg=39
    color=1
    bold=0
    while test -n "$args"; do
        char=${args:0:1}
        args=${args:1}
        echo -en "\033[${bg}m\033[""$bold"";3""$color""m$char"
        if [ " " == "$char" ]; then
            continue
        fi
        if [ "0" -eq "$bold" ]; then
            bold=1
        else
            bold=0
        fi
        if [ "7" -le "$color" -a "0" -eq "$bold" ]; then
            color=0
        elif [ "0" -eq "$bold" ]; then
            let color++
        fi
    done
    echo -e "\033[0m"
}

function pinguntilhostisup() {
	for host in $@; do
		hostisup=255
		until [ "$hostisup" -eq "0" ]; do
			host $host > /dev/null || ! echo "host $host not found" || return 255
			ping -c3 $host > /dev/null
			hostisup=$?
		 done
	done
}

function hopssh() {
    hophost=$1
    shift
    host=$1
    shift
    ssh -o ProxyCommand="ssh ${hophost} -W %h:%p" ${host} $@
}

function settitle() {
    echo -e "\033k${@}\033\\"
}
