#!/usr/bin/env bash

AGENT=/tmp/.ssh-agent-$USER

if [ -r $AGENT ]; then
    source $AGENT
fi

if [ ! -r /proc/$SSH_AGENT_PID/cmdline ] || [ "ssh-agent" != "$(cat /proc/$SSH_AGENT_PID/cmdline)" ]; then
# there is no agent running
# start a new agent
ssh-agent | grep -v echo > $AGENT
source $AGENT
fi
