#!/usr/bin/env bash

AUTH_SOCK=/tmp/.ssh_auth_sock_${USER}
AGENT=/tmp/.ssh_agent_${USER}

#if no auth socket exist, try to load ssh-agent
if [ -z "${SSH_AUTH_SOCK+x}" ]; then

    # load existing ssh-agnet config, if it exist
    if [ -r $AGENT ]; then
        source $AGENT
    fi

    # check if agent is still running else start a new one
    if [ ! -r /proc/$SSH_AGENT_PID/cmdline ] || [ "ssh-agent" != "$(cat /proc/$SSH_AGENT_PID/cmdline | sed 's/\x0$//')" ]; then
        # there is no agent running
        # start a new agent
        ssh-agent | grep -v echo > $AGENT
        source $AGENT
    fi
fi
if [ "${SSH_AUTH_SOCK}" != $AUTH_SOCK ]; then
    ln -sf "${SSH_AUTH_SOCK}" $AUTH_SOCK
    SSH_AUTH_SOCK=$AUTH_SOCK
    export SSH_AUTH_SOCK
fi
