function u10() {
    printf '\33]50;%s\007' "xft:xos4 Terminus:pixelsize=10"
}

function u20() {
    printf '\33]50;%s\007' "xft:xos4 Terminus:pixelsize=20"
}

function textsize() {
    printf '\33]50;%s\007' "xft:xos4 Terminus:pixelsize=$1"
}
